# Required. PostgreSQL connection for news-retrieval
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres-news
POSTGRES_PORT=5432
POSTGRES_DB=news-retrieval
POSTGRES_USER=news-retrieval

# Required. OpenRouter credentials
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
